*{
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background: #33c1ff;
}
body{
    background-image: url("../images/背景.png");
    background-size: 100% 100%;
}

.login{
    width: 420px;
    height: 480px;
    background: white;
    position: absolute;
    left:80%;
    margin-left: -250px;
    top: 100px;
    border-radius: 10px;
    box-shadow: rgba(24,84,111,0.3) 10px 10px 8px;
}
.login_head{
    margin: 0px auto;
    margin-top: 38px;
    margin-bottom: 36px;
    width: 185px;
    height: 19px;

}
.lg_p1{
    font-size: 16px;
    color: #666666;
    margin-bottom: 12px;
    margin-left: 9%;
}
#user{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 9%;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    padding-left: 40px;
    background-image: url("../images/phone.png");/*设置小图标*/
    background-size: 25px auto;/*小图标的大小*/
    background-position: 7px 7px;/*小图标在input的位置*/
    background-repeat: no-repeat;/*背景小图标不重复*/
}
#password{
    width: 300px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 9%;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    padding-left: 40px;
    background-image: url("../images/key.png");/*设置小图标*/
    background-size: 25px auto;/*小图标的大小*/
    background-position: 7px 7px;/*小图标在input的位置*/
    background-repeat: no-repeat;/*背景小图标不重复*/
}
.checkbox{
    color: #666666;
    margin-bottom: 48px;
    margin-left: 9%;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0;
    background:#fff;
    border:#999 solid 1px;
    border-radius: 4px;
    min-height: 16px;
    min-width: 16px;
    margin-right: 8px;
}

input[type=checkbox]:checked::after{
    content: "\2713";
    top: 244px;
    left: 38px;
    font-size: 26px;
    position: absolute;
    background: transparent;
    border-top: none;
    border-right: none;
    width:100%;
}

.btn{
    width: 280px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: white;
    background: #33c1ff;
    border: 0;
    margin-left: 73px;
    margin-bottom: 34px;
}
.btn:active{
    background: #2796c7;
}
.lg_p2{
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.lg_p2 a{
    text-decoration: none;
    color: #33c1ff;
    margin-left: 8px;
}
#msg{
    position: absolute;
    left: 40px;
    bottom: 175px;
    color: red;
    font-size: 16px;
}


